@import "null.css";

/* ============================== */

@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"),
		url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* ============================== */
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
/* ============================== */

body {
	font-family: "CircularStd", sans-serif;
	font-size: 20px;
}

.header {
	color: green;
	font-size: 40px;
	font-family: "Comforter", sans-serif;
}

.title {
	text-shadow: 10px 10px 10px rgb(255, 61, 61);
}

ul li {
	text-decoration: underline;
}

.about-me {
	text-transform: uppercase;
}

main {
	line-height: 1.3;
}

main p {
	text-indent: 15px;
	letter-spacing: 2px;
	word-spacing: 10px;
	text-align: justify;
}

h1,
h2,
h3,
.title {
	text-align: center;
	margin: 40px 0 40px 0;
	
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 600;
}

ol > li {
	text-decoration: line-through;
}

footer {
	text-align: center;
}

.link {
	padding-bottom: 40px;
	color: red;
	font-weight: 900;
	font-size: 36px;
	text-decoration: underline;
}

.nav{
	padding: 20px 0 0 150px;
}

.text-one{
	max-width: 500px;
	margin: 0 0 0 100px;
}

.text-two {
	min-height: 500px;
}

.list {
	padding: 30px 30px 0 50px;
}

.image{
	margin: 40px 0 20px 45px;

}

.text-last{
	max-height: 100px;
	overflow: scroll;
}


